* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: blanchedalmond;
    padding: 5px;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
}

.nav-list {
    margin-left: auto;
    padding: 5px;
    list-style-type: none;
    display: flex;
}

.nav-item {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #333;
}


button.nav-item {
    margin-right: 10px;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

button.nav-item:hover {
    background-color: #0056b3; /* Change color on hover */
}


button#search-close-button {
    padding: 5px 10px; /* Adjust padding as needed */
    background-color: #f44336; /* Button background color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

button#search-close-button:hover {
    background-color: #d32f2f; /* Change color on hover */
}


